.about {
    min-height: 500px ;
    background-color: #FBF8FA;
    max-width: 1400px; 
    width: 100%;
    margin: 3rem auto;  
    -webkit-box-shadow: 0px 8px 29px -3px rgba(0,0,0,0.34); 
    box-shadow: 0px 8px 29px -3px rgba(0,0,0,0.34);
    border-radius: 5px;
}

.about__nav {
    text-align: center;
    padding-top: 1rem;
}

.about__nav > h1 {
    background-image: linear-gradient(to right, #68E4BC 0%, #4AD0D1 99%);    
    padding: 1rem 2rem;
    color: rgb(248, 248, 248);
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    -webkit-box-shadow: 3px 10px 8px -3px rgba(21, 144, 148, 0.89); 
    box-shadow: 3px 10px 8px -3px rgba(15, 191, 214, 0.795);
    width: 280px;
    margin: 1rem auto;
    transition: all .3s ease;
}

.about__nav > h1:hover{
    transform: translateY(-10px);
}

.about__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2rem;
}


.about__content > h1 {
    font-family: 'JetBrains Mono', monospace;
    margin: 1rem 0;
}

.about__content > p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

.about__content > span {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
}


@media screen and (max-width : 768px){
    
    .about__nav > h1 {
        font-size: 1.5rem;
        width: 200px;
    }

    .about__content {
        padding: 0 1rem;
    }
    .about__content > h1 {
        font-size: 1.5rem;
    }
    .about__content > p {
        font-size: 1rem;
    }
    .about__content > span {
        font-size: 1rem;
    }
}

@media screen and (max-width : 380px){
    .about{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        min-height: 300px;
    }
    .about__nav > h1 {
        font-size: 1rem;
        width: 150px;
    }
    .about__content > p {
        font-size: .8rem;
        margin-bottom: 0;
    }
    .about__content > span {
        font-size: .8rem;
        margin-bottom: 0;
    }

    .about__content > h1 {
        font-size: 1rem;
    }
}