.mywork {
    border-top: 1px solid rgb(214, 214, 214);
}

.mywork__container {
    margin-top: 3rem;
    background: #0a57a3 linear-gradient(135deg,transparent,rgba(0,0,0,.5));
    min-height: 900px;
    padding-top: 1rem;
    padding-bottom: 5rem;
}

.mywork__container > h1 {
    background-image: linear-gradient(90deg, #BA81FF 0%, #ff6a94d2 90%);
    font-family: 'roboto',sans-serif;
    color: white;
    text-align: center;
    margin: 1rem auto;
    padding: 1rem 2rem;
    width: 300px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 5px 31px -2px rgba(185, 61, 196, 0.808); 
    box-shadow: 3px 5px 31px -2px rgba(243, 88, 230, 0.795);
    transition: all .3s ease;
}
.mywork__container > h1:hover{
    transform: translateY(10px);
} 

.mywork__cards{
    padding: 2rem 7rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px,1fr)) ;
    grid-gap: 2rem;
    justify-items: center;
    max-width: 1600px;
}

.mywork__carousel {
    min-height: 920px;
    padding: 0 2rem;
    padding-bottom: 1rem;
}



@media screen and (max-width : 768px){
    .mywork__cards{
        padding: 2rem 3rem;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px,1fr)) ;
        grid-gap: 2rem;
        justify-items: center;
    }
    .mywork__container > h1 {
        font-size: 1.5rem;
        width: 200px;
    }

    .mywork__carousel {
        padding: 0 2rem ;
        padding-bottom: 2rem;
    }
    
}

@media screen and (max-width : 380px){
    .mywork{
        padding: 0;
    }
    .mywork__container {
        padding-bottom: 1rem !important;
    }
    
    .mywork__cards{
        padding: .5rem;
        grid-gap: .5rem ;
    }

    
    .mywork__carousel {
        padding: 0 1rem ;
        padding-bottom: 2rem;
    }
    
    .carousel-control-next, .carousel-control-prev {
        width: 16px !important;
        
    }

}