.navbar {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    position: sticky !important;
    background-color: #fcfcfc;
    top : 0;
    height: 90px ;
    z-index: 100;
}

.navbar__container {
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
    width: 100%;
    padding: 10px;
    max-width: 1600px;
}

.navbar__link {
    display: flex !important;
    align-items: center !important;
    padding: 10px !important;
    margin: 0px !important;
}

.navbar__logo {
    transition: all 0.3s ease;
}
.navbar__logo:hover{
    transform: scale(1.02);
}

.navbar__logo__first {
    font-family: 'Dancing Script', cursive;
    color: rgb(59, 59, 59);
    font-size: 2.2rem;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.774); 
    box-shadow: 0px 3px 8px 0px rgba(68, 68, 68, 0.38);
    border-radius: 5px;
    padding: 0.4rem 1rem;
}

.navbar__linkList {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    color: rgb(119, 118, 118);
    font-size: 1.3rem;
    transition: all 0.3s ease;
    text-decoration: none !important;
    margin-left: 10px;
    padding: 5px 16px;
}

.navbar__linkList:hover {
    cursor: pointer;
    color: rgb(44, 44, 44);
    background-color: #e9ecef;
    border-radius: 5px;
    transform: scale(1.05);
}

.navbar__black{
    background-image: linear-gradient(90deg, #BA81FF 0%, #ff6a9479 90%);
}

.navbar__icon{
    display: none;
}
.navbar__iconCLose{
    display: none;
}
.overlay{
    display: none;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(2, 2, 2, 0.425);
}

.navbar__icon button:focus{
    outline: none;
}


@media screen and (max-width : 820px){
.overlay__active{
        display: block
}

.navbar__icon{
    display: block;
}

.navbar__iconCLose{
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.navbar__link {
    position: absolute;
    flex-direction: column;
    transform: translateY(-100%);
    width: 70vw;
    border-radius: 10px;
    background-color: white;
    padding: 2rem !important;
    transition: all 0.3s ease;
    z-index: 100;
}

.navbar__linkList{
    margin: 1rem !important;
}

.toggleActive {
    left: 15%;
    transform: translateY(100%);
}

}

@media screen and (max-width : 440px){
    .navbar__logo__first{
        font-size: 1.3rem;
    }
}

@media screen and (max-width : 330px){
    .navbar__link{
        padding: 3rem 1rem !important;
    }
    .navbar__logo__first{
        font-size: 1.1rem;
    }
    .navbar__linkList{
        margin: .2rem !important;
        font-size: 1rem;
    }
}


